
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap');

.container {
 margin: auto 0;
padding: 0;
width: 100%;
height: 280px;
background-color: #4ce8e3;
display: flex;
flex-direction: row;
}
.container h2{
    font-family: 'Readex Pro', sans-serif;
 padding-top: 16px;
 flex: 1 0 0%;
letter-spacing: 2px;
  font-size: 35px;
  font-weight: 80px;
  line-height: 36px;
   text-align: center;
   width: 100%;
   color:  #00324b;
  
}


.container p{
	letter-spacing: 0.2px;
	font-family:Open Sans,sans-serif;
  font-size:18px;
  font-weight: 400px;
  line-height: 36px;
   text-align: center;
   width:700px;
     color:  #00324b;
}

.title_img2 {
vertical-align: top;
max-height: 280px;
max-width: 100%;

}

.title_img {
 flex: 0 1 0%;

}
.slide1-img{
float: right;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}


/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 500px;
  position: relative;
  margin: auto;

}
.slideshow-container img {
  position: relative;
  float: right;

}


.text {
  width: 400px;
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  margin-left: 200px;
  top: 200px;
  text-align: center;
  font-family:Open Sans,sans-serif;
  font-size:22px;
  font-weight: bolder;
  line-height: 36px;
  color:  #00324b;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 5s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.wrapper{
  position: absolute;
  top: 1200px;
  left: 400px;
  transform: translate(-50%, -50%);
}

.wrapper a{
  display: block;
  width: 240px;
  height: 48px;
  margin-top: 75px;
  line-height: 40px;
  font-size: 18px;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
  color:  white;
 font-weight: bolder;
  
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 28px;
  background-color: #45c14f;
  
}

.wrapper a span{
  position: relative;
  z-index: 2;
}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00324b;
  transition: all .35s;
   border-radius: 28px;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}

.container-2-btn_items {
  width: 200px;
  height: 65px;
  border-radius: 10px;
  background-color: #000;
  position: absolute;
  margin-left: 300px;
  margin-top: 30px;

}
.container-2-btn_items span  {
  color: #fff;
 font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 4px;

}
.google{
  color: #fff;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  margin-top: 25px;
  font-size: 2.2rem;
}
.container-3-btn_items {
  width: 200px;
  height: 65px;
  border-radius: 10px;
  background-color: #000;
  position: absolute;
  margin-left: 300px;
  margin-top: -50px;

}
.container-3-btn_items span  {
  color: #fff;
 font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 4px;

}


div #circle {
      position: absolute;
        left: 300px ;
        width: 0;
        height: 0;
        border: 105px solid #b9f9da;
        border-top: 0px solid transparent;
        border-right: 50px solid transparent;
        border-left: 50px solid transparent;
        -moz-animation: rotator 7s linear infinite;
        -webkit-animation: rotator 7s linear infinite;
        -ms-animation: rotator 7s linear infinite;
        transform-origin: 0% 100%;
    }
 
        @keyframes rotator{
            from{
                transform: rotate(0deg)
            }
            to{
                transform: rotate(360deg)
            }
        }
        @-webkit-keyframes rotator{
            from{
                transform: rotate(0deg)
            }
            to{
                transform: rotate(360deg)
            }
        }


        div #circle1 {
      position: absolute;
        left: 1100px ;
        top: 1500px;
        width: 0px;
        height: 0px;
        border: 105px solid #ddf9cb;

        border-top: 70px solid transparent;
        border-right: 70px solid transparent;
        border-left: 70px solid transparent;
        -moz-animation: rotator 10s linear infinite;
        -webkit-animation: rotator 10s linear infinite;
        -ms-animation: rotator 10s linear infinite;
        transform-origin: 0% 100%;
    }
 
        @keyframes rotator{
            from{
                transform: rotate(0deg)
            }
            to{
                transform: rotate(360deg)
            }
        }
        @-webkit-keyframes rotator{
            from{
                transform: rotate(0deg)
            }
            to{
                transform: rotate(360deg)
            }
        }
.main{
  width: 550px;
  height: 500px;
  margin-left: 450px;
  overflow: hidden;
 
 border-radius: 10px;
}
#chk{
  display: none;
}
.signup{
  position: relative;
  width:100%;
  height: 100%;
  color:#000 ;
}
label{
  color: #00324b;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}
input{
  width: 60%;
  height: 40px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #45c14f;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
button:hover{
  background:#00324b;
}
.login{
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}
.login label{
  color: #00324b;
  transform: scale(.6);
}

#chk:checked ~ .login{
  transform: translateY(-500px);
}
#chk:checked ~ .login label{
  transform: scale(1);  
}
#chk:checked ~ .signup label{
  transform: scale(.6);
}

footer{
    background-color: #00324b;
    width: 100%;
    height: 300px;
     display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  border-top: 1px solid #e5e5e5;

}
.footer > * {
  flex:  2 50%;
  margin-left: 200px;
}


.footer ul {
  list-style: none;
  padding-left: 0px;
  font-size: 20px;
}

.footer li {
  line-height: 2.5em;
  font-size: 20px;
}

.footer a {
  text-decoration: none;
  font-size: 20px;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 100%;
  margin-right: 1.25em;
  padding-top: 50px;
}

.container-2{
    width: 100%;
    height: 500px;
    background-color: #4ce8e3 ;
}

footer  a {
    color: white;
 font-size: 16px;
  font-weight: 400px;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}


@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  
  .footer__nav {
    flex: 1 0px;
  }
}

.container-2 {
 margin: auto 0;
padding: 0;
width: 100%;
height: 450px;
background-color: #4ce8e3;
display: flex;
flex-direction: row-reverse;
}
.container-2-img{
    float: right;
    margin-left: 0;
}
#leftToRight{
  animation: run ease 17s;
  -webkit-animation: run ease 17s;
  -moz-animation: run ease 17s;
  -o-animation: run ease 17s;
  -ms-animation: run ease 17s;
}   

@keyframes run {
  0% { margin-left: -100%;}
  100%{ margin-left: 0%;}
}

@-moz-keyframes run {
  0% { margin-left: -98%;}
  100%{ margin-left: 0%;}
}

@-webkit-keyframes run {
  0% { margin-left: -98%;}
  100%{ margin-left: 0%;}
}

@-o-keyframes run {
  0% { margin-left: -98%;}
  100%{ margin-left: 0%;}
}

@-ms-keyframes run {
  0% { margin-left: -98%;}
  100%{ margin-left: 0%;}
}



#leftToLeft2{
  animation: run ease 20s;
  -webkit-animation: run ease 20s;
  -moz-animation: run ease 20s;
  -o-animation: run ease 20s;
  -ms-animation: run ease 20s;

}   

@keyframes run {
  0% { margin-right: 100%;}
  100%{ margin-right: 0%;}
}

@-moz-keyframes run {
  0% { margin-right: 98%;}
  100%{ margin-right: 0%;}
}

@-webkit-keyframes run {
  0% { margin-right: 98%; }
  100%{ margin-right: 0%;}
}

@-o-keyframes run {
  0% { margin-right: 98%;}
  100%{ margin-right: 0%;}
}

@-ms-keyframes run {
  0% { margin-right: 98%; }
  100%{ margin-right: 0%;}
}

.container-2-content {
    position: absolute;
    margin-left: 300px;
    margin-right: auto;
    top: 1050px;
    width: 600px;
    text-align: left;
    color: #00324b;
    letter-spacing: 2px;
  font-size: 33px;
  font-weight: 80px;
  line-height: 36px;
  font-family: 'Readex Pro', sans-serif;
 

}

